.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

.vscode/
bin/
bin-int/

Engine/vendor/VulkanSDK

**.ninja
.ninja_deps
.ninja_log

**.cmake
Makefile
CMakeFiles/
CMakeLists.txt
CMakeCache.txt

Engine/src/Iridium/ECS/zig-cache
zig-cache