[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git

[submodule "Engine/src/Iridium/Thread-Pool"]
	path = Engine/src/Iridium/Thread-Pool
	url = https://github.com/Keo-Osman/Thread-Pool.git
	branch = Dev-Stable
[submodule "Engine/vendor/ImGui"]
	path = Engine/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
